.login-container{
    background-color: rgba(255, 255, 255, 0.8); /* Optional: to add a translucent background to the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
